@charset "UTF-8";
/*------------------------------------------------------------------------------
  reset CSS
------------------------------------------------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* ul、ol要素のリストスタイルを削除、デフォルトのスタイルが削除される */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

/* コアルートのデフォルトを設定する */
html:focus-within {
  scroll-behavior: smooth;
  word-break: break-all;
}

:root {
  --easing: cubic-bezier(.2, 1, .2, 1);
  --transition: .8s var(--easing);
}
.pc {display: block;}
/* .tb {display: none;} */
.sp {display: none;}

:root {
  --easing: cubic-bezier(.2, 1, .2, 1);
  --transition: .8s var(--easing);
}
html {
  line-height: 1.8;
  height: 100%;
  word-break: break-word;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  overflow: auto;
}
html:focus-within {
  scroll-behavior: smooth;
  word-break: break-all;
}
body {
  /* min-height: 100vh; */
  /* height: 100%; */
  margin: 0;
  /* background: #FFF; */
  text-rendering: optimizeSpeed;
  font-size: 1.6rem;

  font-family: source-han-sans-cjk-ja, sans-serif;
  font-weight: 300; 
  font-style: normal;
}

/* クラスを持たない要素はデフォルトのスタイルを取得する */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
video,
picture {
  max-width: 100%;
  display: block;
}
img {
  border: 0;
  margin: 0;
  vertical-align: top;
  max-width: 100%;
  width: 100%;
}

/* 入力とボタンのフォントを継承する */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
  padding: 0;
}
p:last-child {
  margin-bottom: 0;
}
input[type="submit"],
input[type="text"],
select,
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

.main-container {
  position: relative;
}
/* .outer-block {
  min-width: 1040px;
} */
.other-block {
  padding: 100px 0 300px;
  position: relative;
  background: #fff;
}
.inner-block {
  margin: 0 auto;
  padding: 40px 0 100px;
  position: relative;
  width: 1000px;
}
/*------------------------------------------------------------------------------
  COMMON
------------------------------------------------------------------------------*/
#wrapper {
  position: relative;
}
main {
  display: block;
}
.l-inner {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10rem;
}
.pc {
  display: block;
}
.mo-pc {
  display: block
}
.sp {
  display: none;
}
.tb {display: none;}

/* 文中「ーー」を１本線にする */
.read-wrapp span,
.sec03 .interview-text p span {
  letter-spacing: -0.2rem;
  font-family: "Hiragino Kaku Gothic Pro",sans-serif;
}

/*------------------------------------------------------------------------------
  LODING
------------------------------------------------------------------------------*/
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#loading {
  /* width: 100vw;
  height: 100vh;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:#000;
  text-align:center;
}
#loading-main {
  display: block;
  width: 80px;
  height:80px;
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 105;

	-webkit-animation: loading 1.5s linear infinite;
	-moz-animation: loading 1.5s linear infinite;
	-ms-animation: loading 1.5s linear infinite;
	-o-animation: loading 1.5s linear infinite;
	animation: loading 1.5s linear infinite;
}
#loading-main .rotet {
  fill: white;
}
#loading-main:after,
#loading-main:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  margin-left: -50%;
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 110%; 
}

  #loading-main:after {
    -webkit-animation: loading 0.75s linear infinite;
    animation: loading 0.75s linear infinite;
    border: 10px solid transparent;
    border-top-color: #666;
  }
  #loading-main:before {
    border: 10px solid rgba(51, 51, 51, 0.15);
  }


/*------------------------------------------------------------------------------
  TOP-SWIPER SLIDE
------------------------------------------------------------------------------*/
.SlideShow {
  overflow: hidden;
}
.SlideShow .swiper {
  overflow: visible;
}
.SlideShow .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
.SlideShow .swiper-slide {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.SlideShow .slide {
  overflow: hidden;
  width: 26rem;/*416px*/
  transition: var(--transition);
}
.SlideShow .slide img {
  transition: var(--transition);
}

/*------------------------------------------------------------------------------
  MAIN-CONTAINER WWD-ICON
------------------------------------------------------------------------------*/
.sec01 {
  width: 100vw;
  height: auto;
  /* height: 100vh; 怪しい光を放つ原因*/
  position: relative;
  background: #000; 
}
.sec01 h1 {
  position: absolute;
  z-index: 999999999;
  top: -3px;
  right: 21.5px;
}
.sec01 h1 a {
  display: block;
}


/*------------------------------------------------------------------------------
  MAIN-CONTAINER SECTION_1 PAGE-TAITLE
------------------------------------------------------------------------------*/
.sec01 .PageTitles.is-hidden {
  z-index: 99999999;
}
@keyframes down {
  0% {
    top: 0px;
  }
  100% {
    top: 0;
  }
}
.page-title {
  width: 100vw;
  max-width: 736px;
  position: relative;
  left: 0;
  top: 0;

  animation-name: down;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 4.9s;
  /* animation-timing-function: cubic-bezier(.89,0,.2,.99); */
}
.sec01 .PageTitles.is-hidden {
  width: 100vw;
  position: absolute;
  bottom: 50%;
  left: 0;
}
.sec01 .PageTitles .page-title-wrapp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec01 .PageTitles .page-title-wrapp .page-title-flex-wrapp {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.sec01 .PageTitles path,
.sec01 .PageTitles .cls-10 {
  opacity: 0;
  transition: none;
}
.sec01 .PageTitles .cls-10 {
  max-width: 244px;
  margin-top: 20px;
}
.sec01 .PageTitles.is-hidden .cls-1 {
  opacity: 1;
  transition: opacity .2s 2s ease-in;
}
.sec01 .PageTitles.is-hidden .cls-2 {
  opacity: 1;
  transition: opacity .2s 1.8s ease-in;
}
.sec01 .PageTitles.is-hidden .cls-3 {
  opacity: 1;
  transition: opacity .2s 2.4s ease-in;
}
.sec01 .PageTitles.is-hidden .cls-4 {
  opacity: 1;
  transition: opacity .2s 1.3s ease-in;
}
.sec01 .PageTitles.is-hidden .cls-5 {
  opacity: 1;
  transition: opacity .2s 2s ease-in;
}
.sec01 .PageTitles.is-hidden .cls-6 {
  opacity: 1;
  transition: opacity .2s 1s ease-in;
}
.sec01 .PageTitles.is-hidden .cls-7 {
  opacity: 1;
  transition: opacity .2s 2.6s ease-in;
}
.sec01 .PageTitles.is-hidden .cls-8 {
  opacity: 1;
  transition: opacity .2s 2.3s ease-in;
}
.sec01 .PageTitles.is-hidden .cls-9 {
  opacity: 1;
  transition: opacity .2s 3.6s ease-in;
}
.sec01 .PageTitles.is-hidden .cls-10 {
  opacity: 1;
  transition: opacity .2s 4.1s ease-in;
}



/*------------------------------------------------------------------------------
  MAIN-CONTAINER SECTION_1,3 SRIDER
------------------------------------------------------------------------------*/
.sec01 .mv01 .swiper-fade .swiper-slide,
.sec03 .mv01 .swiper-fade .swiper-slide {
  -webkit-transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, transform !important;
  transition-property: opacity, transform, -webkit-transform !important;
  pointer-events: none;
}
.sec01 .mv01 .slide-media img,
.sec03 .mv01 .slide-media img {
  -webkit-transition: 7s 1s ease-out;
  transition: 7s 1s ease-out;
}
.sec01 .mv01 .swiper-slide[class*=-active] .slide-media img,
.sec03 .mv01 .swiper-slide[class*=-active] .slide-media img {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*------------------------------------------------------------------------------
  READ
------------------------------------------------------------------------------*/
@keyframes fadeIn-txt{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.read-wrapp {
  width: 100%;
  max-width: 800px;
  margin: 60px auto 0;
  padding: 60px 20px;
  position: relative;
  top: -200px;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 99999;
  font-size: 18px;
  text-align: left;
  color: white;
  font-family: heisei-mincho-std, serif;
  font-weight: 300;
  font-style: normal;

  opacity: 0;
  animation: fadeIn-txt 2s 7s linear;
  animation-fill-mode: both;
}


/*------------------------------------------------------------------------------
  MAIN-CONTAINER SECTION_2
------------------------------------------------------------------------------*/
.sec02,
.sec04 {
  margin-top: 80px;
  margin-bottom: 110px;

}
.sec02 .container,
.sec04 .container {
  width: 100%;
  max-width: 1300px;
  height: auto;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}
.sec04 .container{
  flex-direction: row-reverse;
}
.sec02 .container .large-image,
.sec04 .container .large-image {
  width: calc(100% - 39% - 5%); /*56% 728px*/
}
.sec02 .container .group-area,
.sec04 .container .group-area {
  width: calc(100% - 54% - 5%); /*41%  533px*/
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 40px;
}
.sec02 .container .delay-element,
.sec04 .container .delay-element,
.block-main-image .delay-element {
  opacity: 0;
  /* transform: translateY(150px); */
  transition: opacity 1s, transform 1s;
}
.sec02 .container .delay-element.appear,
.sec04 .container .delay-element.appear,
.block-main-image .delay-element.appear {
  opacity: 1;
  /* transform: translateY(0); */
}
.sec02 .container .delay-element.delay1 {
  transition-delay: 1.5s;
  animation-duration: 2s;
  transition-timing-function: ease-in-out;
}
.sec02 .container .delay-element.delay2,
.sec04 .container .delay-element.delay2 {
  /* transition-delay: 0.5s; */
  animation-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: rotate(5deg);
}
.sec02 .container .delay-element.delay2 {
  transform: translateX(-50px);
  margin-top: 60px;
}
.sec04 .container .delay-element.delay2 {
  margin-top: 90px;
  transform: translateX(50px);
}

.sec02 .block-main-image,
.sec04 .block-main-image {
  width: 70%;
  max-width: 950px;
  margin: -55px auto 80px;
}
.sec04 .block-main-image {
  margin: -80px auto 80px;
}

/* 横スクロールセクション */
.side-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-scroll-heading {
  color: #eeebdd;
}
.side-scroll-list-wrapper {
  position: relative;
  top: -55px;
  width: 100%;
  height: 100px;
  margin: 40px 0;
  overflow: hidden;
}
.sec04 .side-scroll-list-wrapper {
  top: -85px;
}
.side-scroll-list {
  position: absolute;
  display: flex;
}
.sec02 .side-scroll-item {
  width:957px;
  height:91px;
}
.sec04 .side-scroll-item {
  width:1115px;
  height:97px;
}
.side-scroll-item + .side-scroll-item {
  margin-left: 40px;
}


/*------------------------------------------------------------------------------
  SEC02 SEC0$ SLIDE
------------------------------------------------------------------------------*/
.wrap {
  display: flex;
  align-items: center;
  height: auto;
  overflow: hidden;
}
.slideshow-top,
.slideshow-bottom {
  display: flex;
}
.content {
  width: 400px;
  height: 100%;
  margin-left: 30px;
}
.slideshow-top {
  display: flex;
  animation: loop-slide1 20s infinite linear 1s both;
  animation-direction: reverse;
}
@keyframes loop-slide1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.slideshow-bottom {
  display: flex;
  animation: loop-slide2 20s infinite linear 1s both;
}
@keyframes loop-slide2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}



/*------------------------------------------------------------------------------
  MAIN-CONTAINER SECTION_3
------------------------------------------------------------------------------*/
.sec03 {
  position: relative;
}
.sec03 .interview-area {
  width: 100%;
  max-width: 840px;
  height: auto;
  max-height: 1000px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
}
.sec03 .interview-title {
  flex: 1;
  width: 100%;
  max-width: 448px;
  margin: 60px auto 0;
  flex-shrink: 1;
  fill: #FFF;
}
.sec03 .interview-title .interview-svg {
  fill: #FFF!important;
}
.sec03 .interview-text {
  flex: 2;
  max-width: 800px;
  margin: 20px auto 45px;
  padding: 0 20px;
  flex-shrink: 2;
}
.sec03 .interview-text p {
  font-family: heisei-mincho-std, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #FFF;
}
.sec03 .interview-box {
  flex: 3;
  max-width: 800px;
  min-height: 44%;
  margin: 0 auto 40px;
  padding: 0 20px;
  background: hsla(0, 0%, 100%, .6);
  overflow: hidden scroll;
  overflow-y: auto;
  flex-shrink: 1;
}
.sec03 .interview-box p {
  font-family: source-han-sans-cjk-ja, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000;
  font-size: 15px;
  text-align: justify;
  text-justify: inter-ideograph;
  padding: 35px 45px 35px 50px;
  overflow: hidden;
}
.sec03 .interview-box::-webkit-scrollbar {
  width: 5px;
  background: white;
}
.sec03 .interview-box::-webkit-scrollbar-track {
  background: white;
}
.sec03 .interview-box::-webkit-scrollbar-thumb {
  background: black;
}





/* .sec03 .interview-title {
  -webkit-animation: mv01-fadeIn 2s 0.5s var(--easing) both;
          animation: mv01-fadeIn 2s 0.5s var(--easing) both;
} */
/* @-webkit-keyframes mv01-fadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    -webkit-filter: blur(300px);
            filter: blur(300px);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
} */
/* @keyframes mv01-fadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
    -webkit-filter: blur(300px);
            filter: blur(300px);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
} */



/*------------------------------------------------------------------------------
  MAIN-CONTAINER SECTION_4
------------------------------------------------------------------------------*/
.sec04 {
  background:#FFF;
  position: relative;
}
.sec04 .container .sp {
  margin-top: -30px;
  margin-left: -20%;
}
.sec04.other-block {
  padding: 80px 0 1900px;
  position: relative;
  background: #fff;
}
/*------------------------------------------------------------------------------
  FOOTER
------------------------------------------------------------------------------*/
.footer-wrapper {
  width: 100vw;
  position: absolute;
  background: #000;
  color: #D8D8D8;
  padding: 60px 100px 60px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: sticky;
}
.footer-wrapper .inner-wrap {
  width: 80%;
  border: 1px solid;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 40px;
  max-width: 800px;
}
.footer-wrapper .inner-wrap .f-box {
  width: 300px;
  padding: 0 48px;
  background: black;
  margin: auto;
  position: relative;
  top: -22px;
}



.footer-wrapper .profile-box {
  font-size: 15px;
  max-width: 800px;
  padding: 0 25px 25px;
}
.footer-wrapper .costumelist-box {
  max-width: 700px;
  margin: 70px auto;
}
.footer-wrapper .costumelist-box li {
  font-size: 12px;
}

.footer-wrapper .snsicon-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 70px 0 0;
}
.footer-wrapper .snsicon-box ul {
  display: flex;
  justify-content: space-between;
  width: 90px;
}
.footer-wrapper .snsicon-box a {
  width: 30px;
  height: 30px;
  display: inline-block;
}
.footer-wrapper small {
  text-align: center;
  display: inline-block;
  font-family: source-han-sans-cjk-ja, sans-serif;
  font-weight: 300; 
  font-style: normal;
  font-size: 12px;
}
.footer-wrapper .snsicon-box span {
  font-size: 14px;
  margin-bottom: 10px;
}
.footer-wrapper .logo-wrap {
  width: 200px;
  margin: 50px auto 0;
  text-align: center;
}
.box26 {
  width: 800px;
  position: relative;
  margin: 2em 0 0;
  padding: 2rem;
  border: solid 1px #fff;
  /* border-radius: 8px;*/
}
.box26 .box-title {
  display: inline-block;
  background: #000;
  padding: 2px 50px;
  line-height: 1;
  position: absolute;
  /* top: -20px;
  left: 270px; */
  top: -14%;
  left: 30%;
}
.box26 .box-title::after {
  width: 200px;
  height: 50px;
  content: "";
  background: url('../images/profile.svg');
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.box26 p {
  margin: 0; 
  padding: 0;
  font-family: source-han-sans-cjk-ja, sans-serif;
  font-weight: 300; 
  font-style: normal;
}
.stafflist-box li {
  text-align: center;
  font-size: 15px;
  line-height: 2;
  font-family: source-han-sans-cjk-ja, sans-serif;
  font-weight: 300; 
  font-style: normal;
}
.footer-wrapper .footer-snsicon {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
.footer-wrapper .footer-snsicon li {
  width: 42px;
}











/* -----------------------------------------------
* 1024px以下
-------------------------------------------------- */
@media screen and (max-width: 1024px) {
  .pc {display: block;}
  .tb {display: block;}
  .sp {display: none;}
  .mo-pc {
    display: none
  }

  #loading {
    display: flex;
  }
  #loading-main {
    width: 10%;
    height: 10%;
    position: static;
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .sec01 h1 {
    right: 11.5px;
    top: -6px;
  }
  .sec01 .swiper {
    height: auto!important;
  }
  .read-wrapp {
    top: -100px;
    width: 80%;
    margin: 0 auto;
  }
  .read-wrapp {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 60px;
  }
  .l-wrapper {
    height: 100vh;
  }
  .read-wrapp {
    padding: 0;
  }
  .sec02 .side-scroll-item,
  .sec04 .side-scroll-item {
    width: 721px;
    height: 70px;
  }
  .sec02 .container .delay-element.delay2 {
    transform: translateX(-50px);
    margin-top: 40px;
  }
  .side-scroll-list-wrapper {
    top: -68px;
  }
  .sec02 .block-main-image {
    margin: -115px auto 80px;
  }
  .sec03 .interview-title {
    width: 40%;
  }
  .sec03 .interview-title {
    margin: 29px auto 0;
  }
  .sec03 .interview-text {
    padding: 0 78px;
    margin: 2px auto 9px;
  }
  .sec04 .container .delay-element.delay2 {
    margin-top: 42px;
    transform: translateX(50px);
  }
  .sec04 .side-scroll-list-wrapper {
    top: -77px;
  }
  .sec04 .side-scroll-item + .side-scroll-item {
    margin-left: 36px;
 }
 .box26 {
  width: 100%;
}
.sec04 .block-main-image {
  margin: -121px auto 80px;
}
.box26 .box-title {
  top: -14%;
  left: 25%;
}


  @keyframes down {
    0% {
      top: 0px;
    }
    100% {
      top: 0px;
    }
  }
  .page-title {
    width: 70%;
    margin: auto;
    position: relative;
    left: 0;
    top: 0;
  
    animation-name: down;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 4.9s;
    /* animation-timing-function: cubic-bezier(.89,0,.2,.99); */
  }
  /* .sec01 .PageTitles .cls-10 {
    transform: translateY(-50px);
  } */

  /* .sec02, .sec04 {
    padding: 45px 0 60px 0;
  } */
  /* .other-block {
    padding: 0;
  } */
  .sec03 .interview-area {
    max-width: none;
  }





  .sec02 img.sp.delay-element {
    transform: translate(25%, -10%);
  }







    @media screen and (max-width: 1024px) {
      .sec01 .l-wrapper {
        height: auto;
      }
    }

  








  .sec02 .large-image .sp
  .sec04 .large-image .sp {
    position: relative;
    top: -30px;
    left: 95px;
    width: 90%;
  } 


 









  .l-wrapper {
    height: 0%;
  }








  .sec03 .interview-box p {
    padding: 0;
  }












}


/* -----------------------------------------------
* 599px以下
-------------------------------------------------- */
@media screen and (max-width: 599px) {
  .pc {display: none;}
  .sp {display: block;}
  .mo-pc {
    display: none
  }
  .tb {
    display: none;;
  }
  .sab-ttl {
    display: inline-block;
      margin-top: -23%;
  }
  .sec01 h1 {
    right: 11.5px;
    top: -2px;
  }
  .read-wrapp {
    width: 80%;
    font-size: 16px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    z-index: 888888;
    top: 65%;
    left: 0;
    right: 0;
  }
  .sec01 {
    background:none;
  }
  .sec02, .sec04 {
    margin-top: 45px;
    margin-bottom: 60px;
  }
  .sec02 .container, 
  .sec04 .container {
    padding: 0;
    flex-direction: column-reverse;
  }
  .sec02 .container .large-image,
  .sec04 .container .large-image {
    width: 80%;
    margin-top: 40px;
  }
  .sec02 .side-scroll-item,
  .sec04 .side-scroll-item {
    height: 50px;
  }
  .sec02 .container .group-area,
  .sec04 .container .group-area {
    width: 100%;
  }
  .sec02 .container .group-area, .sec04 .container .group-area {
    width: 100%;
    padding: 0 20px;
  }
  .side-scroll-list-wrapper {
    top: -97px;
  }
  .side-scroll-item + .side-scroll-item {
    margin-left: -402px;
  }
  .sec02 .block-main-image,
  .sec04 .block-main-image {
    width: 90%;
    max-width: 100%;
    margin: -164px auto 40px;
    padding: 0;
  }

  .content {
    width: 280px;
    height: 420%;
    margin-left: 15px;
    }

  .sec03 .interview-box {
    margin: 20px;
  }
  .sec03 .interview-title {
    width: 80%;
  }
  .sec03 .interview-text {
    margin: 40px auto 30px;
    padding: 0 20px;
  }
  .sec03 .interview-text p {
    font-size: 16px;
  }
  .sec03 .interview-box {
    height: 60%;
    bottom: 45px;
  }
  .sec03 .interview-box p {
    padding: 25px 0;
  }
  .sec04 .container .large-image {
    width: 80%;
    display: flex;
    flex-flow: column;
    align-self: flex-end;
  }
  /* .sec04 .container .delay-element.appear {
    margin: 40px 0 0 auto;
  } */
  .sec04 .container .large-image .delay-element  {
    transform: translate(-5%, -20%);
  }
  .sec04 .container .group-area {
    margin-bottom: -40px;
  }
  .sec02 .container .group-area,
  .sec04 .container .group-area {
    margin-top: 0;
  }
  .sec04 .block-main-image {
    margin: -160px auto 80px;
  }
  .sec02 .block-main-image, .sec04 .block-main-image {
    width: 100%;
    padding: 6px 20px;
  }
  .footer-wrapper {
    padding: 40px 20px;
  }
  .box26 {
    width: 100%;
    margin: 20px auto 45px;
    padding: 30px 25px;
  }
  .box26 .box-title {
    top: -15%;
    left: 26%;
  }
  .footer-wrapper .costumelist-box {
    margin: 45px auto;
    padding: 0 25px;
  }
  .footer-wrapper .snsicon-box {
    padding: 0;
    margin: 45px 0 0;
  }
  .sec02 .block-main-image {
    margin: -170px auto 40px;
  }
  .sec04 .block-main-image {
    margin: -121px auto 80px;
  }
  .sec02 .side-scroll-item + .side-scroll-item {
    margin-left: -183px;
  }
  .sec04 .side-scroll-item + .side-scroll-item {
    margin-left: -129px;
  }

.footer-wrapper .inner-wrap {
  width: 100%;
}
.footer-wrapper .inner-wrap .f-box {
  width: 80%;
  padding: 0 41px;
  background: black;
  margin: auto;
  position: relative;
  top: -19px;
}










  /* .sec04 .side-scroll-item + .side-scroll-item {
    margin-left: -512px;
  } */
  /* .sec04 .side-scroll-item + .side-scroll-item {
    margin-left: -514px;
  } */
  .side-scroll-list-wrapper {
    top: -91px;
  }
  .sec04 .side-scroll-list-wrapper {
    top: -125px;
  }
  .sec04 .block-main-image {
    margin: -208px auto 60px;
  }
  .sec03 .interview-title {
    margin: 45px auto 0;
  } 
  .sec03 .interview-text {
    margin: -56px auto 20px;
  } 
  .sec03 .interview-box {
    margin-top: -30%;
    min-height: 0;
    max-height: 300px;
    bottom: 0;
    max-height: fit-content;
  }
  .sec03 .interview-box { 
    max-height: 514px;
    margin: 0 20px 45px;
  }
  .sec01 .PageTitles.is-hidden {
    width: 100vw;
    position: absolute;
    bottom: 32%;
    left: 0;
  }
  .box26 .box-title::after {
    width: 191px;
  }
  .box26 .box-title {
    top: -14%;
    left: 11%;
  }
  .box26 .box-title { 
      top: -15%;
      left: 10%;
  }
}

/* -----------------------------------------------
* 399px以下
-------------------------------------------------- */

@media screen and (max-width: 399px) {
  .box26 .box-title::after {
      top: -8%;
      left: 3%;
  }
  .box26 .box-title::after {
    width: 172px;
  }
  .box26 .box-title {
    top: -6%;
    left: 9%;
  }
  .sec03 .interview-box {
    max-height: 433px;
  }
}
  /* .test .swiper-wrapper {
    width: 100%!important;
    height: 600px!important;
  }
   */

/* -----------------------------------------------
* 374px以下
-------------------------------------------------- */

@media screen and (max-width: 374px) {
  .box26 .box-title::after {
    width: 140px;
  }
  .box26 .box-title {
    top: -8%;
    left: 12%;
}
}
/* -----------------------------------------------
* 319px以下
-------------------------------------------------- */

@media screen and (max-width: 319px) {
  .sec01 h1 {
    right: 11.5px;
    top: -3px;
  }
  .sec01 {
    background: none;
  }
  .box26 .box-title::after {
    width: 140px;
  }
  .box26 .box-title {
    top: -7%;
    left: 7%;
  }
  .read-wrapp {
    top: 56%;
  }
  .sec03 .interview-box {
    overflow: hidden;
  }
}

/* ----------------------
* 1025px以上
------------------------- */
@media (width >= 1025px) {}







